<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper2">

		<!-- 주문자 정보 -->
  		<select id="getMemberInfo2" resultType="MemberVO">
  	
  		SELECT member_id, member_name, member_tel, member_addr, member_addr2, member_addr3
  		FROM member
  		WHERE member_id = #{memberId}
  	
  	</select>
 
</mapper>