<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="managerMapper">

<!-- ***********************************상품관리*************************************************************** -->

	<!-- 선택한패이지수자대로 		..번째레코드출력 
			1					1-10
			2					11-21
			..					..
								FIRST-LAST
	 -->
	<select id="getPageGoodsList" resultType="GoodsVO" parameterType="hashmap">
		select *
		from(select rownum no ,goods_no,goods_name,goods_cnt,goods_price,goods_times,goods_details,goods_fname,goods_size,goods_date
		from goods
		order by goods_no)
		where no between #{FIRST} and #{LAST}
	</select>
	
	<!-- 상품레코드수 얻어오기 -->
	 <select id="getGoodsCount" resultType="GoodsVO">
	 	select count(goods_name) no
		from goods
	 </select>
	
	<!-- 상품번호대로 상품정보얻기  -->
	<select id="getGoodsInfo" parameterType="GoodsVO" resultType="GoodsVO">
		select *
		from goods
		where goods_no = #{goodsNo}
	</select>
	
	<!-- 상품추가 기능 -->
	<insert id="InsertGoods" parameterType="GoodsVO">
		insert into goods(goods_no,goods_name,goods_cnt,goods_price,goods_times,
		goods_details
		<if test="goodsFrname != null">
		,goods_fname,goods_frname,goods_size,goods_date
		</if>
		)
		values	(seq_goods.nextval,#{goodsName},#{goodsCnt},#{goodsPrice},0,
		#{goodsDetails}
		<if test="goodsFrname != null">
		,#{goodsFname},#{goodsFrname},#{goodsSize},sysdate
		</if>
		)
	</insert>
	
	<!-- 상품정도수정 기능 -->
	<update id="managerGoodsUpdate" parameterType="GoodsVO">
		UPDATE goods 
		SET 
		goods_name = #{goodsName},
		goods_cnt=#{goodsCnt},goods_price=#{goodsPrice},goods_details=#{goodsDetails}
		<if test="goodsFname != null">
		,goods_fname=#{goodsFname},goods_frname=#{goodsFrname},
	 	goods_size=#{goodsSize}
	 	</if>
		where goods_no = #{goodsNo}
	</update>
	
	<!-- 상품관리 정렬 기능 -->
	<select id="goodsSelectOption" resultType="GoodsVO" parameterType="GoodsVO">
		select *
		from goods
		order by ${goodsName}     
	</select>
		
	<!-- 상품정보search -->
	<select id="goodsSearch" parameterType="GoodsVO" resultType="GoodsVO">
		select *
		from goods
		where goods_no like '%${goodsSearch}%' 
		or goods_name like '%${goodsSearch}%'
		or goods_cnt like '%${goodsSearch}%'
		or goods_price like '%${goodsSearch}%'
		or goods_times like '%${goodsSearch}%'
		or goods_details like '%${goodsSearch}%'
		or goods_fname like '%${goodsSearch}%'
		or goods_size like '%${goodsSearch}%'
		or goods_date like '%${goodsSearch}%'
	</select>
	
	<!-- 상품 삭제 -->
	<!-- 상품번호랑 foreign key 연결하는테이블 먼저 삭제 -->
	<!-- cart 테이블 있는 상품번호 삭제 -->
	<delete id="deleteGoodsInCart" parameterType="GoodsVO">
		delete from cart
		where goods_no = #{goodsNo}
	</delete>
	
	<!-- order_goods 테이블 있는 상품번호 삭제 -->
	<delete id="deleteGoodsInOrderGoods" parameterType="GoodsVO">
		delete from order_goods
		where goods_no = #{goodsNo}
	</delete>
	
	<!-- review 테이블 있는 상품번호 삭제 -->
	<delete id="deleteGoodsInReview" parameterType="GoodsVO">
		delete from review
		where goods_no = #{goodsNo}
	</delete>
	
	<!-- add_info 테이블 있는 상품번호 삭제 -->
	<delete id="deleteGoodsInAdd" parameterType="GoodsVO">
		delete from add_info
		where goods_no = #{goodsNo}
	</delete>
	
	<!-- 상품정보삭제 기능 -->
	<delete id="deleteGoods" parameterType="GoodsVO">
		delete from goods
		where goods_no = #{goodsNo}
	</delete>
	
	<!-- ***********************************end of 상품관리*************************************************************** -->
	
	<!-- ***********************************지역관리*************************************************************** -->
	
	<!-- location 테이블 레코드수 얻기 -->	
	<select id="getLocationCount" resultType="LocationVO">
		select count(*) no
		from location
	</select>
	
	<!-- location관리페이지 각페이지에 레코드들 얻어오기 -->
	<select id="getPageLocationList" resultType="LocationVO" parameterType="hashmap">
		select *
		from(select rownum no,loc_sn,loc_name
		from location)
		where no between #{FIRST} and #{LAST}
	</select>
	
	<!-- location관리페이지 정렬  -->
	<select id="locationSelectOption" parameterType="LocationVO" resultType="LocationVO">
		select *
		from location
		order by ${locName}
	</select>
	
	<!-- location관리자페이지 search기능 -->
	<select id="locationSearch" parameterType="LocationVO" resultType="LocationVO">
		select *
		from location
		where loc_sn like '%${locSearch}%' 
		or loc_name like '%${locSearch}%'
		
	</select>
	
	<!-- location테이블 지역 중복확인 -->
	<select id="checkLocName" parameterType="LocationVO" resultType="LocationVO">
		select *
		from location
		where loc_name = #{locName}
	</select>
	
	<!-- location테이블 지역 추가 -->
	<insert id="managerInsertLocation" parameterType="LocationVO" >
		insert into location
		values(SEQ_LOC.nextval,#{locName})
	</insert>
	
	<!-- 지역테이블 지역이름 출력 -->
	<select id="getLocNameList" resultType="LocationVO">
		select *
		from location
	</select>
	
	<!-- 지역 삭제 -->
	<!-- add_info 테이블 삭제 -->
	<delete id="deleteAddInfoByShopNo" parameterType="ShopListVO">
		delete from add_info
		where shop_no = #{shopNo}
	</delete>
	
	<!-- 지역 테이블 삭제 -->
	<delete id="deleteShopListByShopNo" parameterType="ShopListVO">
		delete from shop_list
		where shop_no = #{shopNo}
	</delete>
	
	<!-- 지역 테이블 삭제 -->
	<delete id="deleteLocation" parameterType="LocationVO">
		delete from location
		where LOC_NAME = #{locName}
	</delete>
	
	<!-- 지역통해 가게검색 -->
	<select id="selectShopByLocName" parameterType="LocationVO" resultType="ShopListVO">
		select *
		from shop_list s inner join location l
		on s.loc_sn = l.loc_sn 
		where  l.loc_name = #{locName}
	</select>
	
	<!-- ***********************************end of 상품관리*************************************************************** -->
	
	<!-- ***********************************용기사이즈관리*************************************************************** -->
	
	<!--  size테이블 레코드수 얻어오기 -->
	<select id="getSizeCount" resultType="SizeVO">
		select count(*) no
		from goods_size
	</select>
	
	<!-- size테이블 각페이지 레코드들 얻어오기 -->
	<select id="getPageSizeList" parameterType="hashmap" resultType="SizeVO" >
		select *
		from(select rownum no,goods_size,goods_sizeno
		from goods_size)
		where no between #{FIRST} and #{LAST}
	</select>
	
	<!-- size테이블 정렬지능 -->
	<select id="sizeSelectOption" parameterType="SizeVO" resultType="SizeVO">
		select *
		from goods_size
		order by ${goodsSize}
	</select>
	
	<!-- size테이블 search 기능 -->
	<select id="sizeSearch" parameterType="SizeVO" resultType="SizeVO" >
		select *
		from goods_size
		where goods_size like '%${sizeSearch}%' 
		or goods_sizeno like '%${sizeSearch}%'
	</select>
	
	<!-- ***********************************end of 상품관리*************************************************************** -->

	<!-- ***********************************회원관리*************************************************************** -->

	<select id="getLocationList" resultType="LocationVO">
		select rownum no,loc_sn,loc_name
		from location
	</select>
	
	<select id="getShopList" resultType="ShopListVO">
		select rownum no,shop_no,shop_name,shop_tel,shop_addr,loc_sn,shop_date
		from shop_list
	</select>
	
	<select id="getSizeList" resultType="SizeVO">
		select rownum no,goods_size,goods_sizeno
        from goods_size
	</select>
	
	<select id="getShopInfoList" resultType="AddInfoVO">
		select rownum no,shop_no,goods_no,shop_name,shop_tel,goods_size,shop_addr
		from add_info
	</select>
	
	<!-- member 테이블 레코드수 -->
	<select id="getMemberCount" resultType="MemberVO">
		select count(member_id) no
		from member
	</select>
	
	<!-- 페이징 -->
	<!-- 선택한패이지수자대로 			레코드출력 
			1					1-10
			2					11-21
			..					..
								FIRST-LAST
	 -->
	<select id="getPageMemberList" resultType="MemberVO" parameterType="hashmap">
		select *
		from(select rownum no ,member_id,member_pass,member_name,member_gender,member_tel,member_addr,member_addr2,member_addr3,member_order,member_grade
		from member
		order by member_id)
		where no between #{FIRST} and #{LAST}
	</select>
	
	<!-- 회원정보 얻어오기 -->
	<select id="getMemberInfo" resultType="MemberVO" parameterType="MemberVO">
		select *
		from member
		where member_id = #{memberId}
	</select>
	
	<!-- 회원정보 삭제 -->
	<!-- 회원번호랑 foreign key 연결하는테이블 먼저 삭제 -->
	<!-- order_goods 테이블 있는 상품번호 삭제 -->
	<delete id="deleteMemberInOrderGoods" parameterType="OrdersVO">
		DELETE FROM order_goods
		WHERE order_no = #{orderNo}
	</delete>
	
	<!-- review 테이블 있는 상품번호 삭제 -->
	<delete id="deleteMemberInReview" parameterType="OrdersVO">
		DELETE FROM review
		WHERE order_no = #{orderNo}
	</delete>
	
	<!-- cart 테이블 있는 상품번호 삭제 -->
	<delete id="deleteMemberInCart" parameterType="MemberVO">
		DELETE FROM cart
		WHERE member_id = #{memberId}
	</delete>
	
	<!-- orders 테이블 있는 상품번호 삭제 -->
	<delete id="deleteMemberInOrders" parameterType="MemberVO">
		DELETE FROM orders
		WHERE member_id = #{memberId}
	</delete>
	
	<!-- 회원관리 삭제기능 -->
	<delete id="deleteMember" parameterType="MemberVO">
		DELETE FROM member
		WHERE member_id = #{memberId}
	</delete>
	
	<!-- 회원관리 검색기능 -->
	<select id="memberSearch" parameterType="MemberVO" resultType="MemberVO">
		select *
		from member
		where member_id like '%${memberSearch}%' 
		or member_name like '%${memberSearch}%'
		or member_gender like '%${memberSearch}%'
		or member_tel like '%${memberSearch}%'
		or member_addr like '%${memberSearch}%'
		or member_addr2 like '%${memberSearch}%'
		or member_addr3 like '%${memberSearch}%'
		or member_order like '%${memberSearch}%'
		or member_grade like '%${memberSearch}%'
	</select>
	
	<!-- 회원관리 정렬기능 -->
	<select id="selectOption" parameterType="MemberVO" resultType="MemberVO">
		select *
		from member
		order by ${memberOrder} 
	</select>
	
	<!-- orders 테이블 정보 얻어오기  -->
	<select id="getOrdersByMemberId" parameterType="MemberVO" resultType="OrdersVO">
		select *
		from orders
		where member_id = #{memberId}
	</select>
	
	<!-- orders 검색 -->
	<select id="ordersSearch" parameterType="OrdersVO" resultType="OrdersVO">
		select *
		from orders
		where member_id = #{memberId} and order_no = #{orderNo}
	</select>
	
	<!-- 회원주문상품검색 -->
	<select id="selectOrderGoodsByOrderNo" parameterType="OrderGoodsVO" resultType="OrderGoodsVO">
		select *
		from order_goods
		where order_no = #{orderNo}
	</select>
	
	<!-- ***********************************end of 회원관리*************************************************************** -->
	 
	 <!-- ***********************************매장관리*************************************************************** -->
	 
	 <!-- shop_list테이블 래코드수 -->
	 <select id="getShopListCount" resultType="ShopListVO">
	 	select count(*) no
		from shop_list
	 </select>
	 
	 <!-- 선택한패이지수자대로 		..번째레코드출력 
			1					1-10
			2					11-21
			..					..
								FIRST-LAST
	 --> 
	 <select id="getPageShopList" resultType="ShopListVO" parameterType="hashmap" >
	 	select *
		from(select rownum no ,shop_no,shop_name,shop_tel,shop_addr,loc_sn,shop_date
		from shop_list
		order by shop_no)
		where no between #{FIRST} and #{LAST}
	 </select>
	 
	 <!-- shoplist테이블 정렬 기능 -->
	 <select id="shopListSelectOption" parameterType="ShopListVO" resultType="ShopListVO" >
	 	select *
		from shop_list
		order by ${orderBy} 
	 </select>
	 
	 <!-- shoplist관리자페이지 검색기능 -->
	 <select id="shopListSearch" parameterType="ShopListVO" resultType="ShopListVO" >
	 	select *
		from shop_list
		where shop_name like '%${shopListSearch}%' 
		or shop_tel like '%${shopListSearch}%'
		or shop_addr like '%${shopListSearch}%'
		or loc_sn like '%${shopListSearch}%'
		or shop_date like '%${shopListSearch}%'
		
	 </select>
	 
	 <!-- 가게정보 얻어오기 -->
	 <select id="getShopInfoByShopNo" parameterType="ShopListVO" resultType="ShopListVO">
	 	select *
	 	from shop_list
	 	where shop_no = #{shopNo}
	 </select>
	 
	 <!-- 가게 있는 상품 번호-->
	 <select id="getGoodsInShopInfo" parameterType="ShopListVO" resultType="AddInfoVO" >
	 	select goods_no
		from add_info 
		where shop_no = #{shopNo}
		group by goods_no
		order by goods_no
	 </select>
	 
	 <!-- 가게 있는 상품 사이즈 -->
	 <select id="getGoodsInShopSize" parameterType="AddInfoVO" resultType="AddInfoVO">
	 	select goods_no , goods_size
		from add_info
		where goods_no = #{goodsNo} and shop_no = #{shopNo}
		order by goods_size
	 </select>
	 
	 <!-- 가게있는 상품 종류수 -->
	 <select id="getKindsOfGoodsCnt" parameterType="AddInfoVO" resultType="AddInfoVO">
	 	select count(goods_no)no
		from (select goods_no
		from add_info
		where shop_no=#{shopNo}
		group by goods_no)
	 </select>
	 
	 <!-- 가게정보 각페이지 상품레코드수 -->
	 <select id="getPageGoodsNoList" parameterType="hashmap" resultType="AddInfoVO">
	 	select *
		from (select rownum no,goods_no
		from (select goods_no
		from add_info
		group by goods_no
		order by goods_no))
		where no between #{FIRST} and #{LAST}
	 </select>
	 
	 <!-- 매장삭제 2테이블 -->
	 <delete id="managerShopDeleteList" parameterType="ShopListVO">
	 	delete from shop_list
		where shop_no = #{shopNo}
	 </delete> 
	 <delete id="managerShopDelete" parameterType="ShopListVO">
	 	delete from add_info
		where shop_no = #{shopNo}
	 </delete>
	 <!-- add info 테이블 상품사이즈 있는지 확인 -->
	 <select id="goodsSizeShopCheck" parameterType="ShopListVO" resultType="AddInfoVO">
	 	select *
		from add_info
		where shop_no = #{shopNo}
	 </select>
	 
	 <!-- 매장추가 -->
	 <select id="managerInsertShop" parameterType="ShopListVO">
	 	insert into shop_list
		values(SEQ_SHOP_LIST.nextval,#{shopName},#{shopTel},#{shopAddr},#{locSn},sysdate)
	 </select>
	 
	 <!-- location 고유지역번호 Check -->
	 <select id="checkLocSn" parameterType="AddInfoVO" resultType="LocationVO">
	 	select *
		from location
		where loc_sn = #{locSn}
	 </select>
	 
	 <!-- 상품번호 있는지 확인 -->
	 <select id="checkGoodsNoInGoods" parameterType="AddInfoVO" resultType="GoodsVO">
	 	select *
	 	from goods
	 	where goods_no = #{goodsNo}
	 </select>
	 
	 <!-- 상품이미 등록있는지 확인 -->
	 <select id="checkGoodsNoInadd" parameterType="AddInfoVO" resultType="AddInfoVO">
	 	select *
		from add_info
		where shop_no=#{shopNo} and goods_no = #{goodsNo}
	 </select>
	 
	 <!-- 사이즈 있는지 확인 -->
	 <select id="checkSizeInGoodsSize" parameterType="AddInfoVO" resultType="SizeVO">
	 	select *
		from goods_size
		where goods_size = #{goodsSize}
	 </select>
	 
	 <!-- 매장정보 얻어오기 -->
	 <select id="getShopInfoByNo" parameterType="AddInfoVO" resultType="ShopListVO" >
	 	select *
		from shop_list
		where shop_no = #{shopNo}
	 </select>
	 
	 <!-- 매장 상품 추가 -->
	 <insert id="shopGoodsInsert" parameterType="AddInfoVO">
	 insert into add_info
	 values(#{shopNo},#{goodsNo},#{shopName},#{goodsSize},#{shopTel},#{shopAddr})
	 </insert>
	 
	<!-- 매장용기 goodsSize 등록하는지 확인 -->
	<select id="checkSizeInAdd" parameterType="AddInfoVO" resultType="AddInfoVO" >
		select *
		from add_info
		where shop_no = #{shopNo} and goods_no = #{goodsNo} and goods_size = #{goodsSize}
	</select>
	
	<!-- 매장용기 사이즈 삭제기능 -->
	<delete id="shopGoodsSizeDelete" parameterType="AddInfoVO">
		delete from add_info
		where shop_no = #{shopNo} and goods_no= #{goodsNo} and goods_size = #{goodsSize}
	</delete>
	
	<!-- 매장용기삭제 -->
	<delete id="managerGoodsInShopDelete" parameterType="AddInfoVO">
		delete from add_info
		where shop_no = #{shopNo} and goods_no = #{goodsNo}
	</delete>
	
	<!-- 용기 사이즈 검색 -->
	<select id="checkGoodsSize" parameterType="SizeVO" resultType="SizeVO">
		select *
		from goods_size
		where goods_size = #{goodsSize}
	</select>
	
	<!-- 용기사이즈 추가 -->
	<insert id="insertSize" parameterType="SizeVO">
		insert into goods_size
		values(#{goodsSize},SEQ_GOODS_SIZE.nextval)
	</insert>
	
	<!-- 용기사이즈 삭제 -->
	<!-- 먼저 매장 사이즈 삭제 -->
	<delete id="deleteGoodsSizeInAddInfo" parameterType="SizeVO">
		delete from add_info
		where goods_size = #{goodsSize}
	</delete>
	
	<!-- 사이즈테이블 사이즈 삭제 -->
	<delete id="deleteGoodsSizeInGoodsSize" parameterType="SizeVO">
		delete from goods_size
		where goods_size = #{goodsSize}
	</delete>
	
	<!-- 사이즈 리스트 얻어오기 -->
	<select id="getGoodsSizeList" resultType="SizeVO">
		select *
		from goods_size
	</select>
</mapper>